.Reviews {
    margin-top: 2.5vh;
}

.ReviewsContainer {
    display: grid;
    place-items: center center;
    grid-template-columns: 1fr 8fr 1fr;
}

.notSelectable {
    position: relative;
    color: lightgray;
}

.ReviewsContainer svg {
    font-size: 1.5rem;
}

.Review {
    margin: 2.5vh 0;
    height: 30vh;
    background: whitesmoke;
    border-radius: 5px;
    padding: 2.5px;
    overflow-y: auto;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    display: grid;
    place-items: center center;
    grid-template-rows: 1fr 9fr;
}

.Review::-webkit-scrollbar {
    display: none;
  }

.fbHeader, .fbStars {
    width: 100%;
    display: grid;
    place-items: center center;
    grid-auto-flow: column;
    font-size: 1.5rem;
}

.fbStars {
    color: goldenrod;
    width: 85%;
}

@media only screen and (min-width: 1024px) {
    .Review {
        margin: 10px;
        height: 100%;
    }
    .largeScreenReviewsContainer {
        height: 30vh;
        display: grid;
        place-items: center center;
        grid-auto-flow: column;
    }
}