.Toolbar {
    grid-area: toolbar;
    background: var(--second-bg);
    position: fixed;
    width: 100%;
    display: grid;
    place-items: center end;
    box-shadow: 0 1px 1px black;
    z-index: 5;
    height: 7.5vh;
    padding-left: 50vw;
    grid-auto-flow: column;
    font-size: 2rem;
}

.Toolbar a {
    display: grid;
    place-items: center center;
}

.basketIconContainer {
    display: grid;
    place-items: center center;
    grid-auto-flow: column;
}

.basketIconContainer p {
    font-size: 1.5rem;
}

.largeScreensOnly {
    display: none;
}

@media only screen and (min-width: 992px) {
    .Toolbar {
        padding-left: 0;
        padding-right: 5px;
        height: 15vh;
        box-shadow: none;
        grid-template-columns: 9fr 1fr;
        place-items: center center;
    }
    .largeScreensOnly {
        display: grid;
        place-items: center center;
        width: 100%;
        padding-left: 15%;
    }
}