.DrawerToggle {
    height: 100%;
    display: grid;
    place-items: center end;
    padding: 0 2.5%;
}

.DrawerToggle svg {
    font-size: 3rem;
}

@media only screen and (min-width: 1024px) {
    .DrawerToggle {
        display: none;
    }
}