.GiftVouchersPending {
    grid-area: main;
    width: 100%;
    height: 100%;
    display: grid;
    place-items: start center;
    background: var(--main-bg);
    grid-template-rows: 5vh;
}

.GiftVoucherHeader {
    display: grid;
    grid-auto-flow: column;
    place-items: center center;
    width: 100%;
}

.voucherType, .selectedVoucherType {
    background: var(--second-bg);
    width: 97.5%;
    height: 100%;
}

.selectedVoucherType {
    background: var(--main-txt);
    color: var(--second-bg);
}

.allVouchersContainer {
    width: 100%;
    display: grid;
    place-items: center center;
}

.customerVoucherContainer {
    width: 97.5%;
    display: grid;
    place-items: center start;
    grid-template-columns: 3fr 7fr;
    background: white;
    margin-top: 2.5vh;
    padding: 5px;
    text-align: left;
}

.customerVoucherContainer p {
    margin-top: 5px;
}

.controlsContainer {
    grid-column: 1 / 3;
    width:95%;
    display: grid;
    place-self: center center;
    grid-template-columns: 1fr 1fr;
}

@media only screen and (min-width: 1024px) {
    .customerVoucherContainer {
        grid-template-columns: 1fr 5fr 4fr;
    }

    .controlsContainer {
        grid-column: 3 / 4;
        grid-row: 1 / 10;
        width:40%;
        grid-template-columns: 1fr;
    }

    .voucherType, .selectedVoucherType {
        padding: 1vh 0;
        font-size: 1.5rem;
    }
}