.NavigationItems {
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center center;
    grid-template-rows: 2fr 6fr;
}

.topNavItemsContainer, .bottomNavItemsContainer {
    place-self: start center;
    width: 100%;
    height: 85%;
    display: grid;
    place-items: center center;
}

.smallScreenOnly{
    display: grid;
    place-items: center center;
    width: 100%;
    height: 100%;
}

@media only screen and (min-width: 1024px) {
    .NavigationItems {
        grid-template-rows: 1fr;
        grid-auto-flow: column;
    }
    
    .topNavItemsContainer, .bottomNavItemsContainer {
        grid-auto-flow: column;
        height: 100%;
    }

    .smallScreenOnly{
        display: none;
    }
}