.PasswordResetContainer, .PasswordResetEmail {
    width: 100%;
    display: grid;
    place-items: center center;
}

.PasswordResetEmail {
    padding-top: 5vh;
    grid-area: main;
    height: 100%;
    place-items: start center;
}

.PasswordResetEmail input {
    margin: 20px 0;
}

@media(min-width: 699px){
    .PasswordResetEmail p {
        font-size: 2rem;
    }
  }