.Login {
    grid-area: header/latest/main;
    height: 100%;
    padding: 70% 0;
    display: grid;
    place-items: center center;
    z-index: 4;
    background: var(--main-bg);
}

.Login a {
    text-decoration: none;
    color: var(--menu-bg);
    font-weight: bold;
}

.Login button {
    padding: 0;
    width: 50%;
    height: 45%;
}

@media only screen and (min-width: 1024px) and (orientation: landscape) {
    .Login, .Login input {
        font-size: 1.5rem;
    }

    .Login {
        grid-area: main;
        padding: 15vh 20vw;
        z-index: 2;
    }

    .Login button {
        padding: 0;
        width: 50%;
        height: 75%;
    }
}

@media only screen and (min-width : 321px) and (max-width : 1023px) and (orientation : landscape) {
    .Login, .Login input {
        font-size: 1.5rem;
    }

    .Login {
        grid-area: main;
        padding: 15vh 20vw;
        z-index: 2;
    }

    .Login button {
        padding: 0;
        width: 50%;
        height: 75%;
    }
}