.Login {
    padding: 15vh 0;
    grid-area: main;
    height: 100%;
    display: grid;
    place-items: center center;
    z-index: 2;
    background: var(--main-bg);
}

.Login a {
    text-decoration: none;
    color: var(--menu-bg);
    font-weight: bold;
}

@media only screen and (min-width: 1024px) {
    .Login, .Login input {
        font-size: 1.5rem;
    }

    .Login {
        grid-area: main;
        padding: 15vh 20vw;
    }
}

@media only screen and (min-width : 321px) and (max-width : 1023px) and (orientation : landscape) {
    .Login, .Login input {
        font-size: 1.5rem;
    }

    .Login {
        grid-area: main;
        padding: 15vh 20vw;
    }
}