.AdminLandingPage, .topSellersContainer, .topSeller, .allStatsContainer, .newServicesContainer, .newServiceWithSubContainer, .newService, .newSubService {
    display: grid;
    place-items: center center;
}

.AdminLandingPage {
    grid-area: main;
    padding: 1vh 0 2.5vh 0;
    width: 100%;
    background: var(--main-bg);
    z-index: 2;
}

.topSellersContainer {
    width: 100%;
    grid-auto-flow: column;
}

.topSeller {
    border: var(--amber-txt) solid 2.5px;
    height: 95%;
    width: 95%;
    font-size: 100%;
    border-radius: 2.5px;
}

.allStatsContainer {
    width: 95%;
    grid: 20vh 20vh / 1fr 1fr 1fr 1fr 1fr 1fr;
}

.singleStatContainer {
    height: 95%;
    width: 95%;
    background: var(--second-bg);
    border-radius: 2.5px;
    display: grid;
    place-items: start center;
    grid-template-rows: 6fr 4fr;
    grid-column: span 2;
}

.statNumber {
    font-size: 2rem;
    background: var(--main-bg);
    width: 50%;
    border-radius: 25px;
}

.newServicesContainer {
    width: 95%;
}

.newServiceWithSubContainer {
    width: 100%;
}

.newService, .newSubService {
    width: 85%;
    background: var(--main-txt);
    color: var(--second-bg);
    border-radius: 2.5px;
    font-size: 1.5rem;
    grid-auto-flow: column;
    margin-top: 2vh;
    height: 6vh;
}

.newSubService {
    place-self: center end;
    font-size: 0.75rem;
    margin-right: 7.5%;
    color: var(--main-txt);
    background: var(--second-bg);
    height: 4vh;
    width: 65%;
}

.newService svg {
    font-size: 2.5rem;
}

.changePassword {
    background: var(--amber-txt);
    color: var(--error-txt);
    width: 50%;
    padding: 2.5px 0;
    font-size: 1rem;
}

@media only screen and (min-width: 1024px) {
    .AdminLandingPage {
        grid-area: header/main;
        grid: 1fr 1fr / 8fr 2fr;
    }

    .allStatsContainer {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        grid: 20vh / 1fr 1fr 1fr 1fr 1fr 1fr;
    }

    .topSellersContainer{
        grid-column: 2 / 3;
        grid-row: 1 / 3;
        height: 100%;
        grid-auto-flow: row;
    }
    
    .topSeller {
        font-size: 1.5rem;
        border-radius: 2.5px;
    }

    .singleStatContainer {
        grid-column: span 1;
    }

    .newServicesContainer {
        grid-template-columns: 1fr 1fr 1fr;
        place-items: start center;
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }

    .newService, .newSubService {
        width: 60%;
        font-size: 1.25vw;
    }

    .changePassword {
        height: 6vh;
        box-shadow: none;
    }
}

@media only screen and (min-width : 321px) and (max-width : 1023px) and (orientation : landscape) {
    .changePassword {
        width: 25%;
    }
    .newService, .newSubService {
        width: 55%;
        height: auto;
        padding: 7.5px 0;
    }

    .newSubService {
        margin-right: 15%;
    }

    .singleStatContainer {
        grid-column: span 1;
    }

    .singleStatContainer {
        grid-column: span 2;
    }

    .allStatsContainer {
        grid: 30vh 30vh / 1fr 1fr 1fr 1fr 1fr 1fr;
    }

    .singleStatContainer {
        height: 95%;
        width: 95%;
        background: var(--second-bg);
        border-radius: 2.5px;
        display: grid;
        place-items: center center;
        grid-template-rows: 3fr 7fr;
        grid-column: span 2;
    }
}