.Basket {
    position: fixed;
    width: 90%;
    height: 80vh;
    left: 5%;
    top: 10vh;
    background: var(--main-bg);
    z-index: 9;
    box-sizing: border-box;
    transition: transform 0.75s ease-out;
    display: grid;
    place-items: start center;
    grid-template-rows: 1fr 7fr 0.5fr 1.5fr;
    border-radius: 5px;
}

.Show {
    transform: translateY(0);
}

.Hide {
    transform: translateY(-150%);
}

.title {
    place-self: center center;
}

.basketContainer {
    display: grid;
    place-items: start center;
    width: 95%;
    height: 100%;
    overflow-y: scroll;
    border-top: solid 1px var(--main-txt);
}

.noItemsInBasket {
    place-self: center center;
    font-weight: 300;
}

.basketControlsContainer {
    height: 100%;
    width: 100%;
    display: grid;
    place-items: center center;
    grid-auto-flow: column;
}

.totalPrice {
    width: 95%;
    height: 100%;
    display: grid;
    place-items: center center;
    font-size: 1.5rem;
    border-top: solid 1px var(--main-txt);
}

.bookTreatmentsButton {
    width: 90%;
    font-size: 0.9rem;
    padding: 0;
    height: 65%;
    margin: 0;
    display: grid;
    place-items: center center;
}

.calanderContainer {
    margin-top: 2.5vh;
    background: white;
    width: 80%;
    display: grid;
    place-items: center center;
}

.calanderContainer h4 {
    display: grid;
    place-items: center center;
    grid-auto-flow: column;
    width: 100%;
}

.calanderImagecontainer {
    display: grid;
    place-items: center center;
    grid-template-columns: 2fr 8fr;
}

.calanderImagecontainer svg {
    font-size: 1.75rem;
}

.completed {
    grid-row: 1 / 5;
    place-self: center center;
    width: 90%;
    height: 90%;
    display: grid;
    place-items: center center;
    grid-template-rows: 2fr 6fr 2fr;
}

.logo {
    width: 70%;
    display: grid;
    place-items: center center;
}