.SetNewPassword {
    padding-top: 5vh;
    grid-area: main;
    height: 100%;
    width: 100%;
}

.SetNewPassword input {
    margin-top: 10px;
}

.SetNewPassword a {
    text-decoration: none;
    color: var(--menu-bg);
    font-weight: bold;
}