.Snippet, .SnippetWithBasket {
    width: 95%;
    height: 30vh;
    border: solid 1px var(--main-txt);
    border-radius: 2.5px;
    display: grid;
    place-items: center center;
    grid-column: span 2;
}

.SnippetWithBasket {
    grid: 8fr 2fr / 1fr;
}

.SnippetWithBasket img {
    width: 15vh;
    height: 15vh;
    border-radius: 2.5px;
}

.Snippet img {
    width: 20vh;
    height: 20vh;
    border-radius: 2.5px;
}

.basketButtonContainer {
    height: 100%;
    width: 100%;
    display: grid;
    place-items: center center;
    grid-auto-flow: column;
    font-size: 1.2rem;
    border-top: solid 1px var(--main-txt);
}

.inBasketButtonContainer {
    background: var(--second-bg);
}

.SnippetLink {
    width: 100%;
    display: grid;
    place-items: center center;
    height: 100%;
    grid: 6fr 4fr / 1fr;
}

.title {
    font-size: 100%;
}

@media only screen and (min-width: 1024px) {
    .SnippetWithBasket img {
        grid-row: 1 / 3;
        width: 24vh;
        height: 24vh;   
    }
    
    .Snippet img {
        grid-row: 1 / 3;
        width: 29vh;
        height: 29vh;
    }
    
    .SnippetLink {
        grid: 6fr 4fr / 6fr 4fr;
    }
    
    .title {
        grid-row: 1 / 3;
    }
}

@media only screen and (min-width : 321px) and (max-width : 1023px) and (orientation : landscape) {

    .SnippetWithBasket {
        height: 35vh;
    }

    .SnippetWithBasket img {
        grid-row: 1 / 3;
        width: 24vh;
        height: 24vh;   
    }
    
    .Snippet img {
        grid-row: 1 / 3;
        width: 29vh;
        height: 29vh;
    }
    
    .SnippetLink {
        grid: 6fr 4fr / 6fr 4fr;
    }
    
    .title {
        grid-row: 1 / 3;
    }
}