.EditTrainingCourse {
    grid-area: main;
    padding: 1vh 0 2.5vh 0;
    width: 100%;
    display: grid;
    place-items: center center;
    background: var(--main-bg);
    z-index: 2;
}

.currentImageContainer {
    width: 80%;
}

.noImageContainer {
    width: 100%;
}

.currentImage {
    margin: 1.5vh 0;
    max-height: 30vh;
    max-width: 100%;
    border-radius: 2.5px;
}

.deleteImageButton {
    font-size: 2rem;
    grid-column: auto;
}