.FrontLandingPage {
    grid-area: main;
    padding: 1vh 0 2.5vh 0;
    width: 100%;
    display: grid;
    place-items: center center;
    background: var(--main-bg);
    z-index: 2;
}

.imageAndControlsContainer {
    display: grid;
    place-items: center center;
    grid-template-columns: 1fr 8fr 1fr;
}

.imageContainer {
    position: relative;
    height: 100%;
    width: 100%;
    display: grid;
    grid-auto-flow: column;
    place-items: center center;
}

.imageNav, .notSelectable {
    font-size: 1.5rem;
}

.landingPageImage {
    height: 60vh;
    width: 100%;
}

.notSelectable {
    color: lightgray;
}

.deleteImageButton {
    font-size: 2rem;
}

@media only screen and (min-width: 1024px) {
    .imageAndControlsContainer {
        display: grid;
        place-items: center center;
        grid-template-columns: 1fr 8fr 1fr;
        width: 50%;
    }
}