.SingleSalonTreatment {
    grid-area: main;
    padding: 1vh 0 2.5vh 0;
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center center;
}

.treatmentImage {
    margin-top: 2.5vh;
    width: 240px;
    height: 240px;
    border-radius: 2.5px;
}

.title {
    font-size: 2rem;
}

.statsContainer {
    margin-top: 2.5vh;
    font-size: 1.5rem;
    display: grid;
    grid-auto-flow: column;
    width: 75%;
}

.stat {
    display: grid;
    grid-template-columns: 2fr 8fr;
    place-items: center center;
}

.description {
    margin-top: 2.5vh;
}

@media only screen and (min-width: 1024px) {
    .SingleSalonTreatment {
        grid-template-columns: 1fr 1fr;
    }
    .treatmentImage {
        grid-column: 1 / 2;
        grid-row: 2 / 7;
        width: 60vh;
        height: 60vh;
    }
    .title {
        grid-column: 2 / 3;
    }
    .description {
        grid-column: 2 / 3;
    }
}