.Footer {
    grid-area: footer;
    background: var(--second-bg);
    display: grid;
    place-items: center center;
    width: 100%;
}

.ReviewsContainer {
    display: grid;
    place-items: center center;
    grid-template-columns: 1fr 8fr 1fr;
}

.notSelectable {
    color: lightgray;
}

.ReviewsContainer svg {
    font-size: 1.5rem;
}

.Review {
    height: 30vh;
    background: whitesmoke;
    border-radius: 5px;
    padding: 2.5px;
    overflow-y: auto;
}

.fbHeader, .fbStars {
    width: 100%;
    display: grid;
    place-items: center center;
    grid-auto-flow: column;
    font-size: 1.5rem;
}

.fbStars {
    color: goldenrod;
    width: 85%;
}